<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.mission.mapper.MissionProgressMapper">
    <select id="findByMemberId" resultType="MissionProgressVO">
        SELECT * FROM member_mission_progress
        WHERE member_id = #{memberId}
    </select>
    <select id="get" resultType="MissionProgressVO">
        SELECT * FROM member_mission_progress
        WHERE member_id = #{memberId}
            AND mission_id = #{missionId}
    </select>
    <insert id="upsertProgress">
        INSERT INTO member_mission_progress
            (member_id, mission_id, period_start_date, progress_value)
        VALUES
            (#{memberId}, #{missionId}, #{periodStartDate}, #{progressValue})
            ON DUPLICATE KEY UPDATE
                progress_value = progress_value + VALUES(progress_value)
    </insert>

    <select id="existsExpGrant" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM exp_grant_log
            WHERE member_id = #{memberId}
              AND mission_id = #{missionId}
              AND period_start_date = #{periodStartDate}
        )
    </select>
    <insert id="insertExpGrant">
        INSERT INTO exp_grant_log
            (member_id, mission_id, mission_cycle, period_start_date, granted_exp)
        VALUES
            (#{memberId}, #{missionId}, #{missionCycle}, #{periodStartDate}, #{grantedExp})
            ON DUPLICATE KEY UPDATE mission_id = mission_id
    </insert>
</mapper>