<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.typetest.mapper.QuestionMapper">
    <!-- 모든 질문을 조회하는 쿼리 -->
    <select id="getAllQuestions" resultType="com.banklab.typetest.domain.Question">
        SELECT
            id,
            question_text AS questionText,
            choice_a_text AS choiceAText,
            choice_b_text AS choiceBText,
            question_type AS questionType,
            is_blocking AS isBlocking
        FROM question
        ORDER BY id
    </select>
    
    <select id="findById" resultType="com.banklab.typetest.domain.Question">
        <!-- id로 질문을 조회하는 쿼리 -->
        SELECT
            id,
            question_text AS questionText,
            choice_a_text AS choiceAText,
            choice_b_text AS choiceBText,
            question_type AS questionType,
            is_blocking AS isBlocking
        FROM question
        WHERE id = #{id}
    </select>
</mapper>

