<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.typetest.mapper.UserInvestmentTypeMapper">
    <select id="findByUserId" resultType="com.banklab.typetest.domain.UserInvestmentType">
        SELECT * FROM user_investment_type
        WHERE user_id = #{userId}
        LIMIT 1
    </select>
    <select id="findByUserIdAndDate" resultType="com.banklab.typetest.domain.UserInvestmentType">
        SELECT *
        FROM user_investment_type
        WHERE user_id = #{userId}
          AND evaluation_date = #{evaluationDate}
    </select>
    <insert id="insertUserInvestmentType" parameterType="com.banklab.typetest.domain.UserInvestmentType">
        INSERT INTO user_investment_type (user_id, investment_type_id, evaluation_date)
        VALUES (#{userId}, #{investmentTypeId}, #{evaluationDate})
    </insert>
    <update id="updateUserInvestmentType" parameterType="com.banklab.typetest.domain.UserInvestmentType">
        UPDATE user_investment_type
        SET investment_type_id = #{investmentTypeId}, evaluation_date = #{evaluationDate}
        WHERE user_id = #{userId}
    </update>
</mapper>
