<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultFetchSize" value="1000"/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>
    
    <typeAliases>
        <package name="com.banklab.security.account.domain"/>
        <package name="com.banklab.financeContents.domain"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.banklab.member.handler.GenderTypeHandler"
                     javaType="com.banklab.member.domain.Gender"/>
        <typeHandler handler="com.banklab.oauth.handler.OAuthProviderTypeHandler"
                    javaType="com.banklab.oauth.domain.OAuthProvider"/>
    </typeHandlers>
</configuration>