<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.product.mapper.DepositOptionMapper">
    <insert id="insertDepositOption" parameterType="com.banklab.product.domain.deposit.DepositOption">
        INSERT INTO deposit_option (
            dcls_month, fin_co_no, fin_prdt_cd, intr_rate_type, intr_rate_type_nm, save_trm, intr_rate, intr_rate2
        ) VALUES (
            #{dclsMonth}, #{finCoNo}, #{finPrdtCd}, #{intrRateType}, #{intrRateTypeNm}, #{saveTrm}, #{intrRate}, #{intrRate2}
        )
    </insert>
    <select id="findAllDepositOptions" resultType="com.banklab.product.domain.deposit.DepositOption">
        SELECT * FROM deposit_option
    </select>
    <delete id="deleteAllDepositOptions">
        DELETE FROM deposit_option
    </delete>
    
    <!-- 특정 상품의 모든 옵션 조회 -->
    <select id="findOptionsByProduct" resultType="com.banklab.product.domain.deposit.DepositOption">
        SELECT 
            id,
            dcls_month as dclsMonth,
            fin_co_no as finCoNo,
            fin_prdt_cd as finPrdtCd,
            intr_rate_type as intrRateType,
            intr_rate_type_nm as intrRateTypeNm,
            save_trm as saveTrm,
            intr_rate as intrRate,
            intr_rate2 as intrRate2
        FROM deposit_option
        WHERE dcls_month = #{dclsMonth}
          AND fin_co_no = #{finCoNo}
          AND fin_prdt_cd = #{finPrdtCd}
        ORDER BY save_trm, intr_rate_type
    </select>

</mapper>
