<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.product.mapper.SavingsProductMapper">
    <insert id="insertSavingsProduct" parameterType="com.banklab.product.domain.SavingsProduct">
        INSERT INTO savings_product (
            dcls_month, fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, join_way, mtrt_int, spcl_cnd, join_deny,
            join_member, etc_note, max_limit, dcls_strt_day, dcls_end_day, fin_co_subm_day
        ) VALUES (
            #{dclsMonth}, #{finCoNo}, #{korCoNm}, #{finPrdtCd}, #{finPrdtNm}, #{joinWay}, #{mtrtInt}, #{spclCnd}, #{joinDeny},
            #{joinMember}, #{etcNote}, #{maxLimit}, #{dclsStrtDay}, #{dclsEndDay}, #{finCoSubmDay}
        )
    </insert>
    <select id="findAllSavingsProducts" resultType="com.banklab.product.domain.SavingsProduct">
        SELECT * FROM savings_product
    </select>
    <delete id="deleteAllSavingsProducts">
        DELETE FROM savings_product
    </delete>

</mapper>