<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.product.mapper.SavingsProductMapper">
    <insert id="insertSavingsProduct" parameterType="com.banklab.product.domain.SavingsProduct">
        INSERT INTO savings_product (
            dcls_month, fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, join_way, mtrt_int, spcl_cnd, join_deny,
            join_member, etc_note, max_limit, dcls_strt_day, dcls_end_day, fin_co_subm_day
        ) VALUES (
            #{dclsMonth}, #{finCoNo}, #{korCoNm}, #{finPrdtCd}, #{finPrdtNm}, #{joinWay}, #{mtrtInt}, #{spclCnd}, #{joinDeny},
            #{joinMember}, #{etcNote}, #{maxLimit}, #{dclsStrtDay}, #{dclsEndDay}, #{finCoSubmDay}
        )
    </insert>
    <select id="findAllSavingsProducts" resultType="com.banklab.product.domain.SavingsProduct">
        SELECT * FROM savings_product
    </select>
    <delete id="deleteAllSavingsProducts">
        DELETE FROM savings_product
    </delete>
    <select id="findByProductKey" resultType="com.banklab.product.domain.SavingsProduct">
        SELECT 
            id,
            dcls_month as dclsMonth,
            fin_co_no as finCoNo,
            kor_co_nm as korCoNm,
            fin_prdt_cd as finPrdtCd,
            fin_prdt_nm as finPrdtNm,
            join_way as joinWay,
            mtrt_int as mtrtInt,
            spcl_cnd as spclCnd,
            join_deny as joinDeny,
            join_member as joinMember,
            etc_note as etcNote,
            max_limit as maxLimit,
            dcls_strt_day as dclsStrtDay,
            dcls_end_day as dclsEndDay,
            fin_co_subm_day as finCoSubmDay
        FROM savings_product
        WHERE dcls_month = #{dclsMonth}
          AND fin_co_no = #{finCoNo}
          AND fin_prdt_cd = #{finPrdtCd}
    </select>
</mapper>