<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banklab.transaction.summary.mapper.SummaryMapper">


    <select id="getDailySummary" resultType="com.banklab.transaction.summary.dto.DailySummaryDTO">
        SELECT
        member_id,
        category_id,
        resAccount,
        DATE(transaction_date) as date,
        SUM(CASE WHEN resAccountOut > 0 THEN resAccountOut ELSE 0 END) AS total_expense,
        SUM(CASE WHEN resAccountIn > 0 THEN resAccountIn ELSE 0 END) AS total_income
        FROM transaction_history
        WHERE DATE(transaction_date) = #{targetDate}
        GROUP BY member_id, category_id,resAccount, DATE(transaction_date)
    </select>

    <select id="getLastSummaryDate" resultType="java.time.LocalDate">
        SELECT MAX(date) from daily_user_expense_summary;
    </select>

    <insert id="upsertDailySummary" parameterType="com.banklab.transaction.summary.dto.DailySummaryDTO">
        INSERT INTO daily_user_expense_summary (
            member_id, category_id, date, total_expense, total_income, resAccount
        ) VALUES (
                     #{memberId}, #{categoryId}, #{date}, #{totalExpense}, #{totalIncome}, #{resAccount}
                 )
            ON DUPLICATE KEY UPDATE
                                 total_expense = VALUES(total_expense),
                                 total_income = VALUES(total_income),
                                 updated_at = NOW()
    </insert>

</mapper>